<%- include('./template/cabecera'); %>

    <!--Formulario para ingresar cliente -->

    <body>
        <div class="wrapper">
            <%- include('./template/navbar'); %>
                <form action="/clientes" method="post">
                    <div class="form-group form-row">
                        <div class="col">
                            <label for="inputEmail4">Cédula</label>
                            <input type="text" class="form-control" placeholder="Cédula" name="Cedula">
                        </div>
                        <div class="col">
                            <label for="inputEmail4">Teléfono</label>
                            <input type="text" class="form-control" placeholder="Teléfono" name="Telefono">
                        </div>
                    </div>

                    <div class="form-group form-row"> 
                        <div class="col">
                            <label for="inputEmail4">Nombre completo</label>
                            <input type="text" class="form-control" placeholder="Nombre completo" name="Nombre">
                        </div>
                        <div class="col">
                            <label for="inputEmail4">Correo eléctronico</label>
                            <input type="text" class="form-control" placeholder="Correo eléctronico" name="Correo">
                        </div>
                    </div>

                    <div class="form-group form-row">
                        <div class="col">
                            <label for="inputEmail4">Dirección</label>
                            <input type="text" class="form-control" placeholder="Dirección" name="Direccion">
                        </div>
                        <div class="col">
                            <label for="inputEmail4">Ventas</label>
                            <input type="text" class="form-control" placeholder="Ventas" name="Ventas">
                        </div>
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto text-center">
                        <button type="submit" class="btn btn-info" style="margin-right:70px">Crear</button>
                        <!--  <button type="button" class="btn btn-outline-primary"
                            onclick="document.location.reload();">Recargar tabla</button> -->
                    </div>
                </form>

                <!--Tabla donde muestra los datos desde la base de datos -->

                <table class="table ">
                    <thead>
                        <tr class="bg-info">
                            <th scope="col">Cédula</th>
                            <th scope="col">Teléfono</th>
                            <th scope="col">Nombre completo</th>
                            <th scope="col">Correo eléctronico</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (arrayClientes.length> 0 ) { %>
                            <% arrayClientes.forEach(cliente=> { %>
                                <tr>
                                    <th scope="row">

                                        <%= cliente.Cedula%>
                                    </th>
                                    <td>
                                        <%= cliente.Telefono%>
                                    </td>
                                    <td>
                                        <%= cliente.Nombre%>
                                    </td>
                                    <td>
                                        <%= cliente.Correo%>
                                    </td>
                                    <td>
                                        <%= cliente.Direccion%>
                                    </td>
                                    <td>

                                        <a href="/clientes/<%= cliente.id  %>" class="btn btn-warning btn-sm">Editar y
                                            Eliminar</a>

                                    </td>
                                </tr>

                                <% }) %>
                                    <% } %>

                    </tbody>
                </table>
        </div>

        <%- include('./template/footer'); %>