<%- include('./template/cabecera'); %>

    <!--muestra la informacion de los clientes y las compras realizadas-->


    <body>
        <!--Primera tabla donde muestra los datos del cliente-->
        <div class="wrapper">
            <%- include('./template/navbar'); %>
                <h2>Reportes</h2>
                <div class=" d-grid gap-2 col-6 mx-auto text-center">
                    <button type="button" class="btn btn-info" style="margin-right:70px"
                        onclick="mostrarBoton()">Listado de clientes</button>
                    <button type="button" class="btn btn-warning" onclick="mostrarBoton2()">Ventas por cliente</button>
                </div>

                <div id="table" style="display: none;">
                    <table class="table ">
                        <thead>
                            <tr class="bg-info">
                                <th scope="col">Cédula</th>
                                <th scope="col">Teléfono</th>
                                <th scope="col">Nombre completo</th>
                                <th scope="col">Correo eléctronico</th>
                                <th scope="col">Dirección</th>

                            </tr>
                        </thead>
                        <tbody>
                            <% if (arrayClientes.length> 0 ) { %>
                                <% arrayClientes.forEach(cliente=> { %>
                                    <tr>
                                        <th scope="row">

                                            <%= cliente.Cedula%>
                                        </th>
                                        <td>
                                            <%= cliente.Telefono%>
                                        </td>
                                        <td>
                                            <%= cliente.Nombre%>
                                        </td>
                                        <td>
                                            <%= cliente.Correo%>
                                        </td>
                                        <td>
                                            <%= cliente.Direccion%>
                                        </td>

                                    </tr>

                                    <% }) %>
                                        <% } %>

                        </tbody>
                    </table>
                </div>
                <!--Segunda tabla donde muestra el valor total de ventas-->
                <div id="table2" style="display: none;">
                    <table class="table text-center">
                        <thead>
                            <tr class="bg-warning">
                                <th scope="col">Cédula</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Valor total ventas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <% if (arrayClientes.length> 0 ) { %>
                                    <% arrayClientes.forEach(cliente=> { %>
                                        <th scope="row">
                                            <%= cliente.Cedula%>
                                        </th>
                                        <td>
                                            <%= cliente.Nombre%>
                                        </td>
                                        <td>
                                            <%= cliente.Ventas%>
                                        </td>
                            </tr>
                            <% }) %>
                                <% } %>
                        </tbody>
                    </table>
                </div>

                <!--Script donde se ve los botones dinamicos de la pagina-->
                <script>
                    var btn_1 = document.getElementById('table');
                    var btn_2 = document.getElementById('table2');

                    function mostrarBoton() {
                        btn_2.style.display = 'none';//Al dar clic la tabla 1 se muestra 
                        btn_1.style.display = 'inline';//La tabla 2 no se muestra
                    }

                    function mostrarBoton2() {
                        btn_1.style.display = 'none';//La tabla 1 no se muestra
                        btn_2.style.display = 'inline'; // Al dar clic la tabla dos se muestra
                    }
                </script>
 





        </div>

        <%- include('./template/footer', {titulow:'Inicio'}); %>